name: Orchestration

on:
  push:
    tags:
      - "v*" # Triggers on v1.0, v20.15.10, etc. NO SLASHES ONLY INTERGERS, DOTS IN BETWEEN

jobs:
  # --- PHASE 1: BUILD & TEST (Parallel) ---
  check-agency:
    uses: ./.github/workflows/check-agency.yml
    secrets: inherit

  check-studio:
    uses: ./.github/workflows/check-studio.yml
    secrets: inherit

  # --- PHASE 2: SETUP FILES AND DIRECTORIES (Sequential) ---
  stage-release:
    needs: [check-agency, check-studio]
    uses: ./.github/workflows/stage-release.yml
    secrets: inherit

  # --- PHASE 3: BUILD (Parallel) ---
  build-agency:
    needs: stage-release
    uses: ./.github/workflows/build-agency.yml
    secrets: inherit

  build-studio:
    needs: stage-release
    uses: ./.github/workflows/build-studio.yml
    secrets: inherit

  # --- PHASE 5: DEPLOYMENT, CLEAN UP AND ISR SYNC---
  deploy:
    needs: [build-agency, build-studio]
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
