name: "⚙️ Setup files and directories"
on:
  workflow_call:

jobs:
  prepare-vps:
    runs-on: ubuntu-latest
    steps:
      - name: Setup files and directories
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e

            # --- CONFIGURATION ---            
            # We use the TAG name for the folder (e.g., release-v1.0.0)
            # This makes it very easy to rollback manually if needed
            TAG_NAME="${{ github.ref_name }}"
            RELEASE_DIR="/var/www/ecosystem/releases/release-$TAG_NAME"
            LIVE_LINK="/var/www/ecosystem/current"
            REPO_URL="git@github.com:${{ github.repository }}.git"
            REPO_DIR="/var/www/ecosystem/repository"

            echo "Cloning Repository Tag: $TAG_NAME"

            # Clone specific tag
            git clone --branch $TAG_NAME --depth 1 $REPO_URL $REPO_DIR

            # Copy repository content to new release directory
            cp -r $REPO_DIR $RELEASE_DIR

            echo "DIRECTORY SETUP DONE !"
